body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container-menus {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos dos menus */
.menu-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-menus a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #0077cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-menus a:hover {
    background-color: #69aee2;
    color: #fff;
}